.addnewitem{
        display: flex;
        justify-content: flex-start;
}

.box{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        justify-content: space-between;
        gap: 20px;
}
.box1{
        display: flex;
        padding: 0;
        margin: auto;
        gap: 20px;
        

}
.uploadImg{

        height: 100%;
        width: 250px;
        border: 1px dotted black;
        text-align: center;
        margin-left: 100px;
        

}
.cellWithstatus.ACTIVE {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(46, 204, 112, 0.748); 
        color: #2c3e50; 
      }
      
      .cellWithstatus.INACTIVE {
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(231, 76, 60, 0.9); 
        color: #833939; 
      }